# coding: utf-8
  <div class="field">
    <%= f.label :def_mission_id %><br />
    <%= f.select(:def_mission_id, [["マップを選んで下さい。",0]]) %>
  </div>
  <div class="field">
    <%= f.label :atk_mission_id %><br />
    <%= f.select(:atk_mission_id, [["マップを選んで下さい。",0]]) %>
  </div>