<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mostsmallmissioncategory.name %>
</p>


<%= link_to 'Edit', edit_mostsmallmissioncategory_path(@mostsmallmissioncategory) %> |
<%= link_to 'Back', mostsmallmissioncategories_path %>
