<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mostsmallelement.name %>
</p>


<%= link_to 'Edit', edit_mostsmallelement_path(@mostsmallelement) %> |
<%= link_to 'Back', mostsmallelements_path %>
