<p id="notice"><%= notice %></p>

<p>
  <b>Moresmalluser:</b>
  <%= @moresmalltop.moresmalluser.name %>
</p>


<%= link_to 'Edit', edit_moresmalltop_path(@moresmalltop) %> |
<%= link_to 'Back', moresmalltops_path %>
