<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mostsmallskillcategory.name %>
</p>


<%= link_to 'Edit', edit_mostsmallskillcategory_path(@mostsmallskillcategory) %> |
<%= link_to 'Back', mostsmallskillcategories_path %>
