<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mosttinystrategy.name %>
</p>


<%= link_to 'Edit', edit_mosttinystrategy_path(@mosttinystrategy) %> |
<%= link_to 'Back', mosttinystrategies_path %>
