<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mostsmallresource.name %>
</p>


<%= link_to 'Edit', edit_mostsmallresource_path(@mostsmallresource) %> |
<%= link_to 'Back', mostsmallresources_path %>
