<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @moresmalltrialstatus.name %>
</p>


<%= link_to 'Edit', edit_moresmalltrialstatus_path(@moresmalltrialstatus) %> |
<%= link_to 'Back', moresmalltrialstatuses_path %>
