<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mostsmallstrategy.name %>
</p>


<%= link_to 'Edit', edit_mostsmallstrategy_path(@mostsmallstrategy) %> |
<%= link_to 'Back', mostsmallstrategies_path %>
