// Place all the styles related to the tinymaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
margin:10px 0px;
padding:0 0 3px 9px;
border-left:6px solid midnightblue;
border-bottom:2px solid midnightblue;
}

rect{
fill:silver;
}
