<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mostsmallconstructionfamily.name %>
</p>


<%= link_to 'Edit', edit_mostsmallconstructionfamily_path(@mostsmallconstructionfamily) %> |
<%= link_to 'Back', mostsmallconstructionfamilies_path %>
