<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @moresmallstrategy.name %>
</p>


<%= link_to 'Edit', edit_moresmallstrategy_path(@moresmallstrategy) %> |
<%= link_to 'Back', moresmallstrategies_path %>
