<p id="notice"><%= notice %></p>

<p>
  <b>Mosttinytrial:</b>
  <%= @mosttinyturn.mosttinytrial %>
</p>


<%= link_to 'Edit', edit_mosttinyturn_path(@mosttinyturn) %> |
<%= link_to 'Back', mosttinyturns_path %>
