  <div id="sidebar">
    <h2>メニュー</h2>
    <ul class="sidebar-items">
      <li><%= link_to 'TOP', admin_top_medium_houdd_user_path(@medium_houdd_user) %></a></li>
      <li><%= link_to 'MOB管理', admin_mob_medium_houdd_user_path(@medium_houdd_user) %></a></li>
      <li><%= link_to 'マスター管理', admin_master_medium_houdd_user_path(@medium_houdd_user) %></li>
    </ul>
  </div>