<%= render 'admin_menu' %>
<div id="contents">
  <h3>各種操作</h3>
  <div class="allotments">
    <input id="proceed_construction" type="button" value="建設進行" /></br>
    <input id="proceed_item_manufacture" type="button" value="アイテム製造進行" /></br>
    <input id="proceed_research" type="button" value="研究進行" /></br>
  </div>
</div>