<%= render 'admin_menu' %>
<div id="contents">
  <h3>マスター管理</h3>
  <div class="allotments">
    <ul>
        <li><a href="/medium_missions">medium_missions</a></li>
        <li><a href="/medium_mission_invs">medium_mission_invs</a></li>
        <li><a href="/medium_mission_strategies">medium_mission_strategies</a></li>
        <li><a href="/medium_squads">medium_squads</a></li>
        <li><a href="/medium_skills">medium_skills</a></li>
        <li><a href="/medium_specie_job_invs">medium_specie_job_invs</a></li>
        <li><a href="/medium_jobs">medium_jobs</a></li>
        <li><a href="/medium_item_equip_invs">medium_item_equip_invs</a></li>
        <li><a href="/medium_body_part_invs">medium_body_part_invs</a></li>
        <li><a href="/medium_mobs">medium_mobs</a></li>
        <li><a href="/medium_genes">medium_genes</a></li>
        <li><a href="/medium_species">medium_species</a></li>
        <li><a href="/medium_families">medium_families</a></li>
        <li><a href="/medium_items">medium_items</a></li>
        <li><a href="/medium_item_infos">medium_item_infos</a></li>
        <li><a href="/medium_status_mods">medium_status_mods</a></li>
        <li><a href="/medium_atk_infos">medium_atk_infos</a></li>
        <li><a href="/medium_body_parts">medium_body_parts</a></li>
        <li><a href="/medium_dungeon_cells">medium_dungeon_cells</a></li>
        <li><a href="/medium_dungeons">medium_dungeons</a></li>
        <li><a href="/medium_map_cells">medium_map_cells</a></li>
        <li><a href="/medium_maps">medium_maps</a></li>
        <li><a href="/medium_houdd_users">medium_houdd_users</a></li>
        <li><a href="/medium_research_allotments">medium_research_allotments</a></li>
        <li><a href="/medium_resources">medium_resources</a></li>
        <li><a href="/medium_terrains">medium_terrains</a></li>
        <li><a href="/medium_constructions">medium_constructions</a></li>
        <li><a href="/medium_symbol_lists">medium_symbol_lists</a></li>
    </ul>
</div>
</div>