<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mostsmallresearch.name %>
</p>


<%= link_to 'Edit', edit_mostsmallresearch_path(@mostsmallresearch) %> |
<%= link_to 'Back', mostsmallresearches_path %>
