<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @smalltrialstatus.name %>
</p>


<%= link_to 'Edit', edit_smalltrialstatus_path(@smalltrialstatus) %> |
<%= link_to 'Back', smalltrialstatuses_path %>
